{% load static %}
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="widget clearfix">
                    <div class="widget-title">
                        <h3>About US</h3>
                    </div>
                    <p> I’m currently working on frontend and backend web development</p>   
                    <div class="footer-right">
                        <ul class="footer-links-soi">
                            <li><a href="https://www.linkedin.com/in/fuat-sevin%C3%A7-6a7969217/" target="blank"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="https://www.xing.com/profile/Fuat_Sevinc5/cv" target="blank"><i class="fa fa-xing"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/fuat-sevin%C3%A7-6a7969217/" target="blank"><i class="fa fa-github"></i></a></li>
                            <li><a href="https://twitter.com/FuatSevinc_" target="blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://www.instagram.com/fuatsevinc66/" target="blank"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="https://codepen.io/fuatsevinc" target="blank"><i class="fa fa-codepen"></i></a></li>
                            <li><a href="https://www.youtube.com/channel/UCB4_cC1EEKLbDIOt9QUvSiA/featured" target="blank"><i class="fa fa-youtube"></i></a></li>
                            <li><a href="https://stackoverflow.com/users/19882912/fuatsevinc" target="blank"><i class="fa fa-stack-overflow"></i></a></li>
                        </ul><!-- end links -->
                    </div>						
                </div><!-- end clearfix -->
            </div><!-- end col -->

            <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="widget clearfix">
                    <div class="widget-title">
                        <h3>Information Link</h3>
                    </div>
                    <ul class="footer-links">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Pricing</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul><!-- end links -->
                </div><!-- end clearfix -->
            </div><!-- end col -->
            
            <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="widget clearfix">
                    <div class="widget-title">
                        <h3>Contact Details</h3>
                    </div>

                    <ul class="footer-links">
                        <li><a href="mailto:#">fuatsevinc@icloud.com</a></li>
                        <li><a href="#">www.fuatsevinc.com</a></li>
                        <li>22453 Hamburg Germany</li>
                        <li>+49 152 51348847</li>
                    </ul><!-- end links -->
                </div><!-- end clearfix -->
            </div><!-- end col -->
            
        </div><!-- end row -->
    </div><!-- end container -->
</footer><!-- end footer -->

<div class="copyrights">
    <div class="container">
        <div class="footer-distributed">
            <div class="footer-center">                   
                <p class="footer-company-name">All Rights Reserved. &copy; 2022 <a href="#">Fuat Sevinc</a> Design By : <a href="http://www.fuatsevinc.com/">NordWebdesign</a></p>
            </div>
        </div>
    </div><!-- end container -->
</div><!-- end copyrights -->

<a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

<!-- ALL JS FILES -->
<script src="{% static 'js/all.js' %}"></script>
<!-- ALL PLUGINS -->
<script src="{% static 'js/custom.js' %}"></script>
<script src="{% static 'js/timeline.min.js' %}"></script>
<script>
    timeline(document.querySelectorAll('.timeline'), {
        forceVerticalMode: 700,
        mode: 'horizontal',
        verticalStartPosition: 'left',
        visibleItems: 4
    });
</script>
<script>
    $(window).on('load', function() {
        $('#logreg').modal('show');
    });
</script>
<script type="text/javascript">
    (function () {
        var options = {
            whatsapp: "+4915251348847",
            call_to_action: "Hallo, Was kann ich für Sie tun?",
            position: "left",
        };
        var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
        s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
        var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
    })();
</script>
</body>
</html>